body{
margin:0;
padding:0;
background:#121212;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:90%;
max-width:500px;
}

.game-box{
background:#1f1f1f;
padding:20px;
border-radius:15px;
text-align:center;
box-shadow:0 0 15px cyan;
}

input{
width:80%;
padding:12px;
font-size:18px;
border:none;
border-radius:8px;
margin-top:10px;
}

button{
margin-top:15px;
padding:10px 25px;
font-size:18px;
background:cyan;
border:none;
border-radius:10px;
cursor:pointer;
}

button:hover{
background:#00bcd4;
}

ul{
text-align:left;
max-height:180px;
overflow:auto;
padding-left:20px;
}

li{
margin:5px 0;
}

#message{
font-size:18px;
margin-top:10px;
color:yellow;
}
